body{
    font-family: "Lucida Sans";
    
    background-repeat: no-repeat;
    background-color: black;
}
/*Заголовок с мень и логотипом*/
.header{
    background-image: url(../img/header_foto.png);
    margin-left: -25px;
    max-width: 100%;
    min-height: 1000px;
    
}
.header__title{
    display: flex;
    justify-content: space-between;
}
.logo {
    margin-top: 20px;
    margin-left: 50px;
}
.btn {
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    align-content: center;
    width: 700px;
    height: 50px;
    margin-right: 30px;
}
.button1 {
    color: aliceblue;
    text-decoration: none;
    font-size: 24px;
    border-color: coral;
}
.join_us_btn{
    color: aliceblue;
    text-decoration: none;
    font-size: 24px;
    border-color: coral;
    border-style: solid;
    width: 110px;
    height: 30px;
    padding-left: 20px;
    border-radius: 20px;
}
.join_us2{
    text-decoration: none;
    color: aliceblue;
}
.button1:last-child{
    padding: 5px 20px;
}
/*Text Transform Your Body*/
.frame {
    margin-top: 100px;
    margin-left: 100px;
    width: 500px;
    height: 230px;
    background-color: #393939, #39393900;
}
.text_h1 {
    color: white;
    font-family: "Lucida Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.text_h2 {
    color: rgba(255, 255, 255, 0.50);
    font-family: "Lucida Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*Get start*/
.grid__text {
    width: 400px;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 100px;
    align-content: center;
}
.btn__start {
    background-color: coral;
    padding: 11px 20px 10px 20px;
    width: 125px;
    height: 25px;
}
.get__start {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
}
.btn__reviews {
    border-style: solid;
    border-color: coral;
    padding: 10px 20px;
    width: 170px;
}

.watch__reviews {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
}
/*container*/
.contact {
    margin-top: -110px;
}
.text__contact {
    margin-left: -35px;
}
.icon {
    margin-top: -47px;
    margin-left: 20px;
}
.instagram{
    fill: darkmagenta;
    width: 40px;
    height: 40px;
}
.facebook{
    fill: blue;
    width: 40px;
    height: 40px;
    padding-left: 10px;
}
.youtube{
    fill: red;
    width: 40px;
    height: 40px;
    padding-left: 10px;
}

/*Container с Фото*/
.container{
    background-image: url(../img/dark__foto.png);
    max-width: 100%;
    min-height: 1000px;
    background-repeat: no-repeat;
}
/*zagolovok*/
.info{
    margin-top: 50px;
    margin-left: 90px;
}
.zagolovok__h1{

    color: aliceblue;
    font-size: 40px;

}
.zagolovok {
    color: coral;
    font-size: 40px;
}
/*complex__grid*/
.complex__grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,2fr);
}
.info__item {
    width: 400px;
    height: 125px;
    padding: 20px;
    margin-top: 80px;
}
.icon__complex {
    padding-left: 120px;
    height: 60px;
    width: 60px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.info__h1 {
    padding-left: 100px;
    color: coral;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Lucida Sans"
}
.info__p {
    margin-top: 40px;
    color: aliceblue;
    font-size: 16px;
    font-family: "Oswald",sans-serif;
    font-weight: 200px;
    font-family: "Lucida Sans";
}
/*info2*/
.info2 {
    margin-top: 200px;
    margin-left: 90px;
}
.text__info2 {
    color: aliceblue;
    font-family: "Lucida Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.span__info2 {
    color: coral;
    font-family: "Lucida Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/*container2*/

.plan__grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 60px;
    justify-items: center;
}
.plan {
    background-color: #1a1919;
    width: 300px;
    height: 450px;
    margin-top: 20px;
}
.plan2{
    background-color: #1a1919;
    width: 300px;
    height: 450px;
    margin-top: -30px;
}
.popular_container {
    width: 160px;
    height: 30px;
    background-color: coral;
    border-radius: 30px;
    margin-left: 60px;
    margin-top: -30px;
}
.recomed {
    width: 40px;
    height: 40px;
    fill: gold;
    margin-left: 170px;
    margin-top: -55px;
}

.h1_popular {
    color: aliceblue;
    padding-left: 30px;
    font-size: 26px;
}

.plan__h1 {
    color: #FFF;
    font-family: "Lucida Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 40px 123px 20px
}
.plan__p1 {
    color: rgba(255, 255, 255, 0.50);
    font-family: "Lucida Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px 50px 35px;
}
.plan__h2 {
    color: #FFF;
    font-family: "Lucida Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0 65px 20px;
}
.plan__span {
    color: rgba(255, 255, 255, 0.50);
    font-family: "Lucida Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.plan__p2 {
    color: rgba(255, 255, 255, 0.50);
    font-family: "Lucida Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 99px 41px;
}
/*join trainer*/
.join__trainer {
    margin-top: 200px;
    margin-left: 90px;
}
.trainer {
    color: aliceblue;
    font-family: "Lucida Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.span__trainer {
    color: coral;
    font-family: "Lucida Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/*grid trainer*/
.grid__trainer {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    justify-items: center;
    margin-top: 60px;
    margin-right: 213px;
    margin-left: 112px;
}
.img__trainer2 {
    margin-left: 50px;
    margin-right: 50px;
}
/*container3*/
.container3 {
    margin-left: 80px;
    margin-top: 110px;
}
.why__join {
    color: aliceblue;
    font-family: "Lucida Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.span__join__us {
    color: coral;
    font-family: "Lucida Sans";
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/*flex__list*/
.flex__list {
    display: flex;
}
.list__item {
    margin-left: 90px;
    width: 646px;
    height: 236px;
    background: linear-gradient(180deg, rgba(57, 57, 57, 0.25) 0%, rgba(57, 57, 57, 0.00) 100%);
}
.li{
    color: coral;
    padding: 20px 0;
}
.li__text {
    color: aliceblue;
    font-family: "Lucida Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/*list__foto*/
.list__foto {
    display: grid;
    grid-template-columns: (1,2fr);
    margin-left: 800px;
    margin-top: -250px;
}
.list2 {
    margin-top: -40px;
    margin-left: 200px;
}
/*button3*/

/*end__info*/
.container4 {
    margin-top: 40px;
    background: linear-gradient(180deg, rgba(57, 57, 57, 0.25) 0%, rgba(217, 217, 217, 0.00) 100%, rgba(57, 57, 57, 0.25) 100%);
    min-height: 400px;
    display: flex;
}
.End__info {
    width: 300px;
    height: 48px;
    margin-top: 110px;
}
.end__logo{
    margin-top: 40px;
    margin-left: 80px;
}
.support {
    margin-left: 60px;
    color: aliceblue;
    font-family: "Lucida Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/*Company*/
.company {
    width: 120px;
    height: 48px;
    margin-top: 110px;
    margin-left: 220px;
}
.text__company {
    color: aliceblue;
    font-family: "Lucida Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.a__comp {
    color: rgba(255, 255, 255, 0.50);
    font-family: "Lucida Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.li__com{
    padding: 10px 0;
}
/*contact*/
.contact1 {
    margin-top: -355px;
    margin-left: 100px;
}
.text__contact1 {
    margin-top: 478px;
    margin-left: 30px;
    color: aliceblue;
    font-family: "Lucida Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.li__con {
    padding: 10px 0;

}
.a__con {
    color: rgba(255, 255, 255, 0.50);
    font-family: "Lucida Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
/*more*/
.more {
    margin-top: 110px;
    margin-left: 100px;
}
.text__more {
    margin-left: 20px;
    color: aliceblue;
    font-family: "Lucida Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.li__more {
    padding: 10px 0;
}
.a__more {
    color: rgba(255, 255, 255, 0.50);
    font-family: "Lucida Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
/*Tag*/
.tag {
    padding-top: 110px;
    margin-left: 130px;
}
.text__tag {
    margin-left: 20px;
    color: aliceblue;
    font-family: "Lucida Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.grid__tag {
    display: grid;
    grid-template-columns: repeat(3,3fr);
}
.li__tag {
    background-color:  rgba(255, 255, 255, 0.50);
    list-style: none;
}
.a__tag {
    color: aliceblue;
    font-family: "Lucida Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.li__tag-1 {
    background-color:  rgba(255, 255, 255, 0.50);
    list-style: none;
    width: 45px;
    padding: 5px;
}
.li__tag-2 {
    background-color:  rgba(255, 255, 255, 0.50);
    list-style: none;
    width: 90px;
    padding: 5px 0 5px 18px;
}
.li__tag-3 {
    background-color:  rgba(255, 255, 255, 0.50);
    list-style: none;
    margin-left: 15px;
    padding: 5px 0 5px 13px ;
}
.li__tag-4 {
    background-color:  rgba(255, 255, 255, 0.50);
    list-style: none;
    margin-top: 10px;
    width: 65px;
    padding: 5px 5px 5px 10px;
}
.li__tag-5 {
    background-color:  rgba(255, 255, 255, 0.50);
    list-style: none;
    margin-top: 10px;
    margin-left: 10px;
    width: 50px;
    padding: 5px 0 5px 10px;
}
.li__tag-6 {
    background-color:  rgba(255, 255, 255, 0.50);
    list-style: none;
    margin-top: 10px;
    width: 80px;
    padding: 5px 0 5px 10px;
}
.li__tag-7 {
    background-color:  rgba(255, 255, 255, 0.50);
    list-style: none;
    margin-top: 10px;
    width: 50px;
    padding: 5px 0 5px 10px;
}
.li__tag-8 {
    background-color:  rgba(255, 255, 255, 0.50);
    list-style: none;
    margin-top: 10px;
    width: 80px;
    padding: 5px 0 5px 10px;
}
/*flooter*/
.flooter__text {
    display: flex;
    width: auto;
    min-height: 100px;
    background-color: coral;
}
.img__flooter {
    margin-top: 40px;
    margin-left: 600px;
    width: 30px;
    height: 30px;
}
.p__flooter {
    margin-left: 10px;
    margin-top: 45px;
    color: aliceblue;
    font-family: "Lucida Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*Заголовок с новинками*/

.h1_zag {
    font-size: 34px;
    font-family: "Lucida Sans";
    margin-top: 150px;
    margin-left: 90px;
    width: 450px;
    height: 150px;
    color: aliceblue;
}
.sport_pit{
    color: chocolate;
}
.button_new {
    border-radius: 5px;
    margin-left: 90px;
    width: 210px;
    height: 55px;
    background-color: coral;
}
.new__text{
    display: block;
    color: aliceblue;
    text-decoration: none;
    font-family: "Lucida Sans";
    font-size: 18px;
    padding: 15px 18px 15px 18px;
}
@media screen and (max-width: 828px) {
    .header{
        background-image: none;
    }
    .header__title{
        margin-top: 20px;
        justify-content: flex-start;
    }
    .logo{
        margin-left: 30px
    }
    .logotip{
        margin-left: 0px;
        width: 50px;
        height: 40px;
    }
    .info{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(4,2fr); 
        margin-left: 20px;
    }
    .join_us_btn {
        width: 40px;
        height: 15px;
        padding-left: 5px;
    }
    .join_us2 {
        font-size: 10px;
    }
    
    .btn{
        width: 30px;
        gap: 10px;
    }
    .button1{
        font-size: 11px;
    }
    .button1:last-child{
        margin: 0;
        margin-top: -1px;
        height: 14px;
        padding: 1px;
        width: 40px;
    }
    .frame{
        margin-left: 80px;
    }
    .text_h1{
        font-size: 14px;
    }
    .text_h2{
        font-size: 12px;
        width: 220px;
    }
    /*button get start*/
    .grid__text{
        margin-left: 40px;
        width: 300px;
        display: flex;
    }
    .btn__start {
        width: 70px;
        height: 10px;
        margin-left: 0px;
    }
    .get__start {
        font-size: 12px;
        width: auto;
        margin-bottom: 5px;
    }
    .btn__reviews {
        width: 90px;
        height: 8px;
        margin-left: 5px;
    }
    .watch__reviews {
        padding-left: 5px;
        font-size: 12px;
        width: auto;
        height: auto;
    }
    /*contact*/
    .contact__svg{
        width: 200px;
    }
    .icon{
        padding-top: 10px;
        margin-right: 10px;
    }
    .instagram{
        width: 30px;
        height: 30px;
    }
    .facebook{
        width: 30px;
        height: 30px;
    }
    .youtube{
        width: 30px;
        height: 30px;
    }
    .container{
        background-image: none;
    }
    /*container info*/
    .zagolovok__h1{
        font-size: 22px;
        margin-top: 40px;
    }
    .zagolovok{
        font-size: 22px;
    }
    .complex__grid{
        grid-template-columns: repeat(1,6fr);
        margin: 0;
        width: auto;
        margin-right: 400px;
        margin-left: 0px;
    }
    .info__item{
        margin-bottom: 30px;
    }
    .icon__complex{
        padding-left: 80px;
    }
    .info__h1{
        padding-left: 50px;
    }
    .info__p{
        width: 240px;
        height: auto;
        font-size: 14px;
        margin-top: 5px;
    }
    /*info2*/
    .info2{
        margin-left: 30px;
    }
    .text__info2{
        font-size: 22px;
    }
    .span__info2{
        font-size: 22px;
    }
    /*plan*/
    .container2{
        margin-left: 0;
        margin-right: 400px;
    }
    .plan__grid{
        grid-template-columns: repeat(1,3fr);  
    }
    .plan{
        width: 250px;
        height: 450px;
    }
    .popular_container{
        margin-left: 30px;
    }
    .plan2{
        margin-top: 30px;
        width: 250px;
        height: 470px;
        margin-left: 5px;
    }
    .plan__h1{
        padding-left: 110px;
    }
    .plan__p1{
        padding-left: 80px;
    }
    .plan__h2{
        padding-left: 85px;
    }
    .plan__href{
        mask-type: -10px    ;
    }
    .plan__a{
       padding-left: 20px;
    }
    /*join trener*/
    .join__trainer{
        margin-left: 30px;
    }
    .trainer{
        font-size: 22px;
    }
    .span__trainer{
        font-size: 22px;
    }
    .grid__trainer{
        grid-template-columns: repeat(1,3fr);
        margin-left: 10px;
    }
    .img__trainer1{
        width: 240px;
    }
    .img__trainer2{
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 0;
        width: 240px;
    }
    .img__trainer3{
        width: 240px;
    }
    .btn__see__more2{
        margin-left: 0;
    }
    /*container3*/
    .container3{
        margin-left: 30px;
        margin-top: 60px;
    }
    .flex__list{
        width: 350px;
        height: 200px;
    }
    .why__join{
        font-size: 22px;
    }
    .list__item{
        margin-left: 30px;
    }
    .li{
        font-size: 16px;
    }
    .li__text{
        font-size: 16px;
    }
    .list__foto{
        margin-left: 30px;
        margin-top: 80px;
    }
    .list1{
        width: 200px;
        height: 200px;
    }
    .list2{
        width: 200px;
        height: 200px;
        margin: 0;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .see__more2{
        margin-left: 30px;
    }
    /*container4*/
    .container4{
        display: block;
    }
    .support{
        font-size: 18px;
        width: 230px;
    }
    .End__info{
        width: auto;
        height: auto;
        margin-top: 0;
    }
    .company{
        width: auto;
        height: auto;
        margin-top: 60;
        margin-left: 100px;
    }
    .contact1{
        margin-top: -350px;
        margin-left: 90px;
    }
    .tag{
        margin: 0;
        padding-top: 50px;
    }
    .text__tag{
        margin-left: 80px;
        margin-bottom: 20px;
    }
    .grid__tag{
        gap: 0px;
        grid-template-columns: repeat(3,3fr);
        width: 50px;
        margin-left: 20px;
    }
    .li__tag-1{
        width: 30px;
    }
    .li__tag-3{
        padding-right: 10px;
    }
    /*flooter*/
    .flooter{
        margin-top: 20px;
        width: auto;
        margin-left: -3px;
    }
    .flooter__text{
        margin-top: 20px;

    }
    .img__flooter{
        margin-left: 30px;
    }
    
    
}
